<% if user_signed_in? %>
<h1>
  Bank Accounts
</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.bank_account.account_number %></td>
        <td><%= number_to_currency(current_user.bank_account.balance) %></td>
        
      </tr>
  </tbody>
</table>
<% end %>