<%= form_with(model: deposit, local: true, url: deposits_path) do |form| %>
  
  <div class="transaction">        
    <div class="field">
      <%= form.label :value %>  
      <%= form.number_field :value %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>          
<% end %>